.user-instruments {
  margin: 0.5rem 1rem 1.5rem;
}

.message-icon-container {
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
  transition: transform 0.4s;
  z-index: 2;
}

.message-icon-container:focus,
.message-icon-container:hover {
  transform: scale(1.25);
}

.post--message-icon {
  margin: 0 1rem 0 0;
  outline: none;
  transition: transform 0.4s;
  width: 3rem;
}
