.admin-container {
  min-height: 91vh;
  text-align: center;
}

table, tr, td {
  border: 1px solid #616161;
  border-collapse: collapse;
}

table {
  margin: 2rem;
  width: 80%;
}

caption {
  font-size: 2em;
}

table th,
table td {
  max-width: 200px;
  overflow: scroll;
  padding: 0.5rem;
}

thead td {
  background-color: #eee;
  font-size: 1.6em;
}

tbody td {
  font-size: 1em;
}

.admin-icon {
  background: none;
  border: none;
  outline: none;
  transition: transform 0.4s;
}

.admin-icon:focus,
.admin-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.admin-icon img {
  width: 2rem;
}

.admin-modal-form {
  height: 100%;
}

.admin-modal-form input {
  width: 100%;
}

.admin-modal-form button:last-of-type {
  margin-top: 1rem;
}

.edit-modal-form {
  height: 100%;
}

#content {
  height: 125px;
  width: 225px;
}

.edit-modal-form button {
  margin-top: 1rem;
}
