.use-list {
  text-align: center;
}

.use-img {
  width: 5rem;
}

.feature-list-item {
  margin-bottom: 0.5rem;
}

.feature-list-item--marker {
  margin-right: 0.25rem;
  width: 2rem;
}

.my-section.section--use {
  background-color: #eee;
}

.my-section.section--help {
  background-color: #eee;
}
