.testimonial {
  width: 100%;
}

.testimonial-1,
.testimonial-2 {
  border-bottom: 4px solid #eee;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}

.testimonial-1-img,
.testimonial-2-img,
.testimonial-3-img {
  border-radius: 10px;
  width: 100%;
}
