@charset 'utf-8';

// TODO: Customize this 💩👇🏽(https://bulma.io/documentation/customize/variables/)

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@700&display=swap");

// Set your brand colors
$red: #ec0000;
$light-red: #fd3e3e;
$dark-red: #a30202;

// Update Bulma's global variables
$family-sans-serif: "Roboto Condensed", -apple-system, blinkmacsystemfont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$family-secondary: "Halant", serif;

$danger: $red;
$primary: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-size: 10px;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/helpers/color.sass";
@import "~bulma/sass/helpers/spacing.sass";
@import "~bulma/sass/helpers/typography.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~@creativebulma/bulma-divider";
