.chat-container {
  font-size: 1.6em;
}

.top-chat {
  margin: 1em 0;
  padding: 0.5rem;
  width: 100%;
}

.users-window {
  border-right: 1px solid #616161;
  height: 400px;
  overflow: scroll;
  padding: 0.5rem;
  width: 30%;
}

.message-icon {
  height: 2rem;
  width: 2rem;
}

.chat-clip {
  border-radius: 10px;
  padding: 0.5rem;
  transition: all 0.4s;
}

.chat-clip:focus,
.chat-clip:hover {
  background-color: #cfcfcf;
}

.chat-window {
  height: 400px;
  overflow: scroll;
  padding: 0.5rem;
  width: 70%;
}

.active-chat {
  background: #bbb;
}

.message {
  margin-bottom: 0.5rem;
}

.sent-message {
  justify-content: flex-end;
}

.user-clip {
  background-color: #bbb;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
}

.sent-message .user-clip {
  background-color: var(--primary-light);
  color: white;
}

.chat-box {
  padding: 0.5rem;
  width: 100%;
}

.new-message {
  background-color: #fff;
  height: 75px;
  padding: 0.5rem;
  width: 70%;
}

.start-chat-btn {
  margin: 0 0.5rem;
}
